@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Chakra+Petch:wght@400;500;600;700&family=IBM+Plex+Mono:wght@400;500;600;700&family=Nova+Square&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}

body {
    width: 100vw;
    height: 100vh;
    font-family: "Nova square", sans-serif;
    overflow-x: hidden;

}

#root {
    width: 100%;
    height: 100%;
}

.nav {
    position: fixed;
}

.main {
    background-image: url("https://e0.pxfuel.com/wallpapers/523/41/desktop-wallpaper-cyber-futuristic-background-cool-cyber-thumbnail.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Nova square", sans-serif;
    font-size: 20px;

    
}

.main .btn {
    box-shadow: 0px 3px 10px #2b91fa;
}

.form input {
    height: 40px;
    width: 250px;
    padding: 5px;
    border-radius: 10px;
    font-size: 1.3rem;
}
.form .btn {
    box-shadow: 0px 3px 10px #00060c;
}

.post_container {
    width: 90%;
    height: 20%;
    border: solid 1px #00d7c0;
    border-radius: 8%;

}

.content {
    overflow:hidden;
  display:block;
  text-overflow: ellipsis;
  white-space: nowrap;

}
.nick {
    text-shadow: 1px 3px 5px #ff00d3;
}

form input {
    padding: 10px;
    width: 300px;
    height: 50px;
    font-size: 20px;
    border-radius: 10px;
    color: black;
}

form textarea {
    border-radius: 10px;
}

select {
    border-radius: 10px;
}

.shadow {
    text-shadow: 1px 3px 5px #2b91fa;
}

.border {
   
    border: 2px solid #ff00d3;
    box-shadow: 1px 1px 5px #4a00ff;

}

.motto {
    font-size: 22px;
}


@media only screen and (min-width: 992px) {

    
    .nav {
        width: 100%;
    }
    
    .home_container {
        padding: 100px;
    }

   .cont {
        gap: 300px;
        /* padding-right: 20px; */
   }

   .main {
    font-size: 25px;
   }
   .motto {
    font-size: 32px;
}

.cont .btn{
    box-shadow: 0px 3px 10px #2b91fa;
}

.margin {
    margin-right: 100px;
}

.main_cont {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.post_container {
    width: 70%;
    border-radius: 30px;
}

.content {
   margin: 5px 0;
}

.singlepost_main_container {
    padding: 0 100px;
}

.comments_container {
    width: 50%;
}

.container_of_comments {
    align-items: center;
}

.leave_comment_container {
    justify-content: center;
}

.form_container {
    flex-direction: row;
}

.posts_container {
    width: 60%;
}

.createpost_form_container input{
    width: 100%;
}

.createpost_form_container {
    width: 60%;
}

textarea {
    width: 100%;
}

.register_container {
    width: 60%;
    align-self: center;
}

.divider {
    width: 50%;
    align-self: center;
}

}
