@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Chakra+Petch:wght@400;500;600;700&family=IBM+Plex+Mono:wght@400;500;600;700&family=Nova+Square&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}

body {
    width: 100vw;
    height: 100vh;
    font-family: "Nova square", sans-serif;

}

#root {
    width: 100%;
    height: 100%;
}

.nav {
    position: fixed;
}

.main {
    background-image: url("https://e0.pxfuel.com/wallpapers/523/41/desktop-wallpaper-cyber-futuristic-background-cool-cyber-thumbnail.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "IBM Plex Mono", sans-serif;
    
}

.main .btn {
    box-shadow: 0px 3px 10px #2b91fa;
}

.form input {
    height: 40px;
    width: 250px;
    padding: 5px;
    border-radius: 10px;
    font-size: 1.3rem;
}
.form .btn {
    box-shadow: 0px 3px 10px #00060c;
}

.post_container {
    width: 90%;
    height: 20%;
    border: solid 1px #00d7c0;
    border-radius: 8%;

}

.content {
    overflow:hidden;
  display:block;
  text-overflow: ellipsis;
  white-space: nowrap;

}
.nick {
    text-shadow: 1px 3px 5px #ff00d3;
}

form input {
    padding: 10px;
    width: 300px;
    height: 50px;
    font-size: 20px;
    border-radius: 10px;
}

form textarea {
    border-radius: 10px;
}

select {
    border-radius: 10px;
}
